.header {
    height: 3.75rem;
    display: flex;
    align-items: center;
    background-color: #595959;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    display: flex;
    align-items: center;
    color: #BAFF39;
    margin: 0 1.6rem;
}

.header__logoImage {
    margin-right: 0.625rem;
}

.header__logoTitle {
    text-decoration: none;
    border: 0;
    color: white;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 0.625rem;
}

.header__searchInput {
    height: 0.75rem;
    padding: 0.625rem;
    border: none;
    border-radius: 0.3rem 0 0 0.3rem;
    width: 100%;
}

.header__searchIcon {
    padding: 0.3125rem;
    height: 1.375rem !important;
    background-color: #BAFF39;
    border-radius: 0 0.3rem 0.3rem 0;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.nav__item {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    color: white;
}

.nav__itemLineOne {
    font-size: 0.625rem;
}

.nav__itemLineTwo {
    font-size: 0.8125rem;
    font-weight: 800;
}

.nav__itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 1.6rem;
    margin-left: 0.625rem;
}

.nav__basketCount {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}